interactions:
- request:
    body: '{"monto": 1.2, "conceptoPago": "Prueba", "nombreBeneficiario": "Ricardo
      Sanchez", "cuentaBeneficiario": "072691004495711499", "institucionContraparte":
      "40072", "tipoCuentaBeneficiario": 40, "nombreOrdenante": null, "cuentaOrdenante":
      null, "institucionOperante": "90646", "tipoCuentaOrdenante": null, "claveRastreo":
      "CR1577333851", "referenciaNumerica": 5273144, "rfcCurpBeneficiario": "ND",
      "rfcCurpOrdenante": null, "medioEntrega": 3, "prioridad": 1, "tipoPago": 1,
      "topologia": "T", "iva": null, "empresa": "TAMIZI", "firma": "Bct3jhWgQlX2oCNIgDssMMmMtIVCXTcVGWI0zvIavmhivv0PpA7x0sB5+VPOvLp/Yw5+WcV2J7dtfw1WeksrFPq2K5Xy7tq5KTTx2+YtohRX6NZ1nlRSdt/oBEgqLOKPEk8uYZhUfL0XaCrdi3XIdCNhYGXyEzwwqraz4I7OHf0="}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"descripcionError":"Error validando la firma","id":0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
